.signup_container {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Rimuovi il background-color fisso */
  background-image: linear-gradient(
    90deg,
    #000000 0%,
    #4c00ff65 50%,
    #fffb0060 100%
  );
  animation: gradientAnimation 10s infinite linear;
}

/* Definisci le animazioni keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.signup_form_container {
  width: 900px;
  height: 500px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 3px 3px -2px rgb(255 255 255 / 20%),
    0px 3px 4px 0px rgb(255 255 255 / 14%),
    0px 1px 8px 0px rgb(255 255 255 / 12%);
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.left h1 {
  margin-top: 0;
  color: #3bb19b;
  font-size: 35px;
  align-self: center;
}

.right {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form_container h1 {
  font-size: 40px;
  margin-top: 0;
  color: #fff;
}

.input {
  outline: none;
  border: none;
  width: 370px;
  padding: 15px;
  border-radius: 10px;
  background-color: #222;
  margin: 5px 0;
  font-size: 14px;
  color: #fff;
}

.error_msg {
  width: 370px;
  padding: 15px;
  margin: 5px 0;
  font-size: 14px;
  background-color: #f34646;
  color: white;
  border-radius: 5px;
  text-align: center;
}

.white_btn,
.green_btn {
  border: none;
  outline: none;
  padding: 12px 0;
  background-color: #fff;
  border-radius: 20px;
  width: 180px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #000;

  transition: background-color 0.3s ease;
}

.white_btn:hover,
.green_btn:hover {
  background-color: #1d5349; /* Cambia il colore di sfondo al passaggio del mouse */
}

.green_btn {
  background-color: #3bb19b;
  color: white;
  margin: 10px;
}
